*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.App{
  background: linear-gradient(to bottom,rgb(235, 72, 24), rgb(207, 255, 118));
  height: 100vh;
  width: 100%;

}

.form{
  align-items: center;
  display: flex;
  justify-content: center;

}

input{
  padding: 10px;
  width: 50%;
  align-items: center;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(200, 179, 179, 0.415) ;
  background-color: rgba(255, 234, 234, 0.415);

}

button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  padding: 8px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;

}

.items {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.place {
  display: flex;
  flex-direction: column;
  background-color: rgba(221, 157, 157, 0.415);
  padding: 40px;
  align-items: center;
  border-radius: 50px;


}

img{
  width: 50px;
  margin-bottom: 1rem;
  border-radius: 50px;

}

.place p {
  text-transform: uppercase;
  color: aliceblue;
  margin: 5px;
}

.condition {
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.171);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  border-radius: 30px;
}

.condition p {
  color: aliceblue;
  margin: 2px;
  /* text-transform: uppercase; */
}

span {
  color: white;
  font-weight: bolder;
}